**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
name = 'mariam'
len(name)

6

In [2]:
name = 'mariam'
count = 0
for i in name:
    count = count+1
    
print(count)

6

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [3]:
name=input()
if len(name)<2:
    print('')
else:
    print(name[:2]+name[-2:])

mariam
maam

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [4]:
name=input()
if len(name)<3:
    print (name)
else:
    if name[-3:]=='ing':
        print(name+'ly')
    else:
        print(name+'ing')

mar
maring

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [5]:
l=['mariam','nrfncorenfc','edndfijnei','dnen','dnfrj']
#longest = max(l,key=len)
print(max(l,key=len),len(max(l,key=len)))

nrfncorenfc 11

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [6]:
name=input()
name[-1]+name[1:-1]+name[0]

kareem

'mareek'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [7]:
name=input()
name=name[::2]
print(name)

kareem
kre

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [8]:
s='amr and ahmed are friends but amr is the tallest'
x=dict()
words=s.split()
for i in words:
    if i in x:
        x[i]+=1
    else:
        x[i]=1
print(x)

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'friends': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [9]:
name=input()
print(name.upper())
print(name.lower())

Mariam
MARIAM
mariam

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [10]:
s=input()
if len(s)%4==0:
    print(s[::-1])
else:
    print("error")

abcdefgh
hgfedcba

**10- Write a Python program to remove a newline in Python

In [11]:
s="my name is mariam\ni live in cairo\n2imj2i"

print(s.splitlines())
print(s.replace("\n"," , "))

['my name is mariam', 'i live in cairo', '2imj2i']
my name is mariam , i live in cairo , 2imj2i

**11-Write a Python program to check whether a string starts with specified characters

In [12]:
s="mariam"
s.startswith('m')

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [13]:
s="kareem\nahmed\nabdelrahman"
newS=s.splitlines()
for x in newS:
    print("Mr."+x)

Mr.kareem
Mr.ahmed
Mr.abdelrahman

**13-Write a Python program to print the following numbers up to 2 decimal places

In [14]:
s= float(input())
x=round(s,2)
print(x)

2.37893
2.38

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [15]:
x=input()
if x[0]=='-':
    print('-'+x[1:5])
else:
    print('+'+x[:4])

-2.37648
-2.37

**15-Write a Python program to display a number with a comma separator

In [16]:
x=str(float(input()))
s=x.replace('.',',')
print(s)

2.47383
2,47383

**16-Write a Python program to reverse a string using 2 ways

In [17]:
name=input()
print(name[::-1])

kareem
meerak

In [18]:
s=input()
x=''
for i in s:
    x=i+x
print(x)

kareem
meerak

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [19]:
s=input()
x=dict()
for i in s:
    if i in x:
        x[i]+=1
    else:
        x[i]=1
print(x)

ejnekjmndkm
{'e': 2, 'j': 2, 'n': 2, 'k': 2, 'm': 2, 'd': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [20]:
s=input()
for i in s:
    if s.count(i)==1:
        print(i)
        break

uhdeuquhws
d

**19-Write a Python program to remove spaces from a given string

In [21]:
s='i am mariam'
print(s.replace(' ',''))

iammariam

**20-Write a Python program to count the number of non-empty substrings of a given string

In [22]:
s=input()
l=len(s)
sub=(l*(l+1)/2)
print(sub)

ncdojdcn
36.0

**21-write a Python program to swap first and last element of any list.

In [23]:
l=[1,2,3,4,5]
l[0],l[-1]=l[-1],l[0]
print(l)

[5, 2, 3, 4, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [24]:
l=[23,65,19,90]
l[0],l[2]=l[2],l[0]
print(l)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [1]:
l=[1,2,3,4,5]
print(len(l))

5

 **24-write a Python code to find the Maximum number of list of numbers.

In [2]:
l=[1,22,45,2,8,14]
print(max(l))

45

**25-write a Python code to find the Minimum number of list of numbers.

In [3]:
l=[1,22,45,2,8,14]
print(min(l))

1

**26-search for if an elem is existing in list

In [5]:
l=[1,2,3,4,5,6]
s=int(str(input("search for elemen: ")))
x=l.count(s)
if x>0:
    print("exists")
else:
    print("not found")

search for elemen: 8
not found

**27- clear python list using different ways

In [6]:
l=[1,2,3,4,5,6]
l.clear()
print(l)

[]

In [7]:
l=[1,2,3,4,5,6]
while len(l)!=0:
    l.pop()
print(l)

[]

**28-remove duplicated elements from a list

In [2]:
l=[1,2,2,3,4,5,5,6]
print(set(l))

{1, 2, 3, 4, 5, 6}

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [10]:
test_list = [("Gfg", 3),( "is", 8)]
key_list = ["name", "id"]
myd=dict(zip(key_list,test_list[0]))
myd1=dict(zip(key_list,test_list[1]))
print(myd)
print(myd1)

{'name': 'Gfg', 'id': 3}
{'name': 'is', 'id': 8}

**30-write a python program to count unique values inside a list using different ways

In [12]:
l=[1,2,2,3,4,5,5,6]
u=len(set(l))
print(u)

6

In [13]:
x = [] 
count = 0
for i in l:
    if(i not in x):
        count += 1
        x.append(i) 
print(count)

6

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [14]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
t1=[]
for i in test_list:
    x=test_list.count(i)
    if x>K and i not in t1:
        t1.append(i)
print(t1)

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [15]:
l=[1,2,2,3,4,5]
l1=[]
for i in range(1,len(l)):
    x=max(l[i],l[i-1])
    l1.append(x)
print(l1)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [16]:
l=[1,2,3]
for i in range(3):
        for j in range(3):
            for k in range(3):
                if(i!=j and j!=k and i!=k):
                    print(l[i],l[j],l[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [17]:
test_list = [1,2,3] 
for i in test_list:
    print([i])
    
for i in test_list:
    for j in test_list:
        #if i!=j:
            print([i,j])
        
for i in test_list:
    for j in test_list:
        for k in test_list:
            #if i!=j!=k:
                print([i,j,k])

[1]
[2]
[3]
[1, 1]
[1, 2]
[1, 3]
[2, 1]
[2, 2]
[2, 3]
[3, 1]
[3, 2]
[3, 3]
[1, 1, 1]
[1, 1, 2]
[1, 1, 3]
[1, 2, 1]
[1, 2, 2]
[1, 2, 3]
[1, 3, 1]
[1, 3, 2]
[1, 3, 3]
[2, 1, 1]
[2, 1, 2]
[2, 1, 3]
[2, 2, 1]
[2, 2, 2]
[2, 2, 3]
[2, 3, 1]
[2, 3, 2]
[2, 3, 3]
[3, 1, 1]
[3, 1, 2]
[3, 1, 3]
[3, 2, 1]
[3, 2, 2]
[3, 2, 3]
[3, 3, 1]
[3, 3, 2]
[3, 3, 3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [18]:
List_1 = ["a","b"] 
List_2 = [1,2]
Unique_combination =[]
for i in range(len(List_1)):
    for j in range(len(List_2)):
        Unique_combination.append((List_1[i],List_2[j]))
print(Unique_combination)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [19]:
Input=[1,1,2,3,4,5,1,2,1]
x=1
input1=[i for i in Input if i!=x]
print(input1)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [20]:
list1=['Gfg',"is",'best']
list2=[0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
x=[list1[i] for i in list2]
print (x)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [22]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
x=[i for i in test_list if i.count(K)==N]
print(x)


K = 5
N = 3
x=[i for i in test_list if i.count(K)==N]
print(x)

[(4, 5, 5, 4)]
[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [4]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
for i in range(len(array[0])):
        s=sorted(array,key=lambda x:x[i])
        print("Sorted array specific to column {}: {}".format(i, s))

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [5]:
d={'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
key=list(d.keys())
key.sort()
d1={i:d[i] for i in key}
print(d1)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [6]:
test_dict = {'Gfg' : 3, 'is' : 7, "best" : 10, 'for' : 6, 'geeks' : 'CS'}
K = 6
t={}
for key in test_dict:
    if not (isinstance(test_dict[key],int) and test_dict[key]>K):
        t[key]=test_dict[key]
print(t)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [7]:
dic1={1:10, 2:20}
dic2={3:30, 4:40} 
dic3={5:50,6:60}
dic={}
for i in(dic1,dic2,dic3):
    dic.update(i)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [8]:
dict={1:10, 2:20, 2:20,3:30, 4:40,5:50,6:60}
for d in dict:
    print(d, dict[d])

1 10
2 20
3 30
4 40
5 50
6 60

**44- Write a Python script to merge two Python dictionaries

In [9]:
dict1={1:10, 2:20}
dict2={3:30, 4:40}
d=dict2.copy()
dict1.update(d)
print(dict1)

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [10]:
dict={1:10, 2:20, 2:20,3:30, 4:40,5:50,6:60}
print(max(dict.values()))
print(min(dict.values()))

60
10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [11]:
dict={'c1': 'Red', 'c2': 'Green', 'c3': None}
dict={key:value for (key,value) in dict.items() if value is not None}
print(dict)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [12]:
tuple=(1,2,3,4,5,6)
print(tuple[1])

2

**48-Write a Python program to unpack a tuple into several variables

In [13]:
tuple=(1,2,3,4)
x1,x2,x3,x4=tuple
print(x1,x2,x3,x4)

1 2 3 4

**49-Write a Python program to add an item to a tuple

In [14]:
tuple=(1,2,3,4,5,6)
tuple=tuple+(9,)
print(tuple)

(1, 2, 3, 4, 5, 6, 9)

**50-Write a Python program to convert a tuple to a string

In [15]:
tuple=('a','b','c','d','e')
s=''.join(tuple)
print(s)

abcde

**51-Write a Python program to convert a list to a tuple

In [1]:
l=[1,2,3,4,5,6]
print(tuple(l))

(1, 2, 3, 4, 5, 6)

**52-Write a Python program to reverse a tuple

In [2]:
t=(1,2,3,4,5,6)
print(t[::-1])

(6, 5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [3]:
 l=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [4]:
s='python3.0'
t=tuple(s)
print(t)

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [5]:
t=(1,2,3,4,5)
avg=sum(t)/len(t)
print(avg)

3.0

**56-Write a Python program to add member(s) to a set.

In [6]:
s={1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [8]:
s={1,2,3,4,5}
x=int(input())
if x in s:
    s.discard(x)
    print(s)
else:
    print('not available')

5
{1, 2, 3, 4}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [10]:
s1={1,2,3,4,5,6}
s2={4,6,7,8,9,0}
print('intersection:',s1 & s2)
print('union:',s1|s2)
print('difference:',s1-s2)
print('symmetric difference:',s1^s2)

intersection: {4, 6}
union: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
difference: {1, 2, 3, 5}
symmetric difference: {0, 1, 2, 3, 5, 7, 8, 9}

**59-Write a Python program to find the maximum and minimum values in a set

In [11]:
s={1,2,3,4,55,6,99,0}
print("max: ",max(s))
print("min: ",min(s))

max:  99
min:  0

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [12]:
l=[1,2,3,4,5,6,7,8]
s=10
l1=[]
for i in range(len(l)):
        for j in range(i+1,len(l)):
            if l[i]+l[j]==s:
                l1.append((l[i],l[j]))
print(l1)

[(2, 8), (3, 7), (4, 6)]